<div class="page-header">
  <h1>Контактная информация</h1>
</div>
<p>350080, Россия, Краснодар <br>
Ставропольская, 267 <br>
Телефон: 8 (861) 000-00-00 <br>
Факс: 8 (861) 000-00-00 <br>
E-mail: your_mail@example.com <br>
Skype: hotel_operator</p>	
