<div class="page-header">
  <h1>Заполнение данных о заказе</h1>
  <div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  	Обращаем ваше внимание, что оплата производится наличными по факту заселения!
  </div>
</div>	

<%= render 'form' %>

